.accordion.nippon-accordion {
    display: grid;
    grid-template-columns: 7fr 3fr;
    gap: 30px;
    align-items: start;
}

.accordion.nippon-accordion .accordion-item {
    margin-bottom: 16px;
}

.accordion.nippon-accordion .static-image-row {
    margin-bottom: 16px;
}

.accordion.nippon-accordion .static-image-row img {
    height: 229.54px;
    display: block;
    width: fit-content;
    margin: 0 auto;
}

.accordion.nippon-accordion .static-image-row .accordion-content {
    padding: 0;
    margin: 0;
}

/* LEFT SIDE: BLUE ACCORDIONS  */
.accordion.nippon-accordion .blue-accordion .accordion-title {
    background-color: #0b50a1;
    color: #fff;
    padding: 14.5px 20px;
    font-family: poppin-medium, sans-serif;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.4s;
}

.accordion.nippon-accordion .blue-accordion .accordion-title h3 {
    margin-top: 5px;
    font-size: 18px;
}

.accordion.nippon-accordion .blue-accordion .accordion-title::after {
    content: '+';
    font-weight: bold;
    line-height: 1;
}

.accordion.nippon-accordion .grey-accordion .accordion-title::after {
    content: '+';
    font-size: 26px;
    font-weight: 400;
    line-height: 1;
}

.accordion.nippon-accordion .blue-accordion.expanded .accordion-title::after {
    content: '\2212';
    width: 10px;
    height: 27px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.accordion.nippon-accordion .blue-accordion .accordion-content {
    background-color: #f8f9fa;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    color: #333;
    font-size: 15px;
    line-height: 1.6;
}

.accordion.nippon-accordion .grey-accordion .accordion-content {
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    color: #333;
    font-size: 15px;
    line-height: 1.6;
}

.accordion.nippon-accordion .blue-accordion.expanded .accordion-content {
    padding: 20px;
    max-height: 1500px;
}

.accordion.nippon-accordion .blue-accordion.expanded .accordion-content p {
    color: #333;
    text-align: justify;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 13px;
}

/* RIGHT SIDE: GREY ACCORDION */
.accordion.nippon-accordion .grey-accordion .accordion-title {
    background-color: #f1f1f1;
    color: #0b50a1;
    padding: 3px 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion.nippon-accordion .grey-accordion .accordion-title h4 {
    font-size: 18px;
    font-family: poppin-medium, sans-serif;
    font-weight: 500;
    margin-top: 10px;
    color: #0b50a1;
}

.accordion.nippon-accordion .grey-accordion.expanded .accordion-title::after {
    content: '\2212';
    color: #0b50a1;
}

.accordion.nippon-accordion .grey-accordion.expanded .accordion-content {
    max-height: 1500px;
}

.accordion.nippon-accordion .grey-accordion.expanded .accordion-content p {
    color: #333;
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
}

.accordion.nippon-accordion .grey-accordion .accordion-content a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #999;
    border-radius: 50%;
    float: right;
    color: transparent;
    font-size: 0;
    text-decoration: none;
    transition: background-color 0.3s ease;
    width: 20px;
    height: 20px;
    margin: 12px;
}

.accordion.nippon-accordion .grey-accordion .accordion-content a::after {
    content: '';
    width: 6px;
    height: 6px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
    margin-right: 2px;
}

.accordion.nippon-accordion .grey-accordion .accordion-content a:hover {
    background-color: #0c50a1;
}

.accordion.nippon-accordion .grey-accordion .accordion-content::after {
    content: '';
    display: table;
    clear: both;
}

@media (max-width: 768px) {
    .accordion.nippon-accordion {
        grid-template-columns: 1fr;
        gap: 30px;
    }
}
