main > .section.custom-block-container{
    margin-top: 60px;
}
.custom-block{
    display: flex;  
    gap: 50px;
    justify-content: center;  
    width: 100%;
}
.custom-block .cards-item{
    border: 2px solid #ccc;
    border-radius: 10px;
}
.custom-block .cards-item p,
.custom-block .cards-item h5{
    padding: 0px 20px;
}
.custom-block .cards-item .cards-item-img{
    height: 300px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
